* {
    box-sizing: border-box;
}


/* nav */

header {
    margin-bottom: auto;
}

.nav-link {
    color: white;
    font-size: 2vh;
}

@media (max-width: 700px) {
    header {
        margin-bottom: 0;
    }
    .nav {
        height: fit-content!important;
    }
    .nav-link {
        margin: 15px 0 15px 0 !important;
        font-size: 2vh;
        padding: 8px!important;
    }
}

@media (max-width: 375px) {
    .nav-link {
        font-size: 1.5vh;
    }
}


/* main */

.btnInicio {
    width: 125px;
    margin: 5px;
}

.modal {
    color: black;
}

.centroDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1031px) {
    .btnInicio {
        width: 125px;
        margin: 5px;
    }
}

@media (max-width: 700px) {
    .img-fluid {
        display: none;
    }
    .imgDiv {
        display: none;
    }
    header {
        margin-bottom: 19%;
    }
    .titulo {
        text-align: center!important;
    }
}


/* sobre mi */

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-wrap: wrap-reverse;
}

@media (max-width: 700px) {
    .divImg {
        width: 100%!important;
    }
    .scroller {
        overflow: auto;
        padding: 10px!important;
    }
}