* {
    box-sizing: border-box;
}


/* nav */

header {
    margin-bottom: auto;
}

.nav-link {
    color: white;
    font-size: 18px;
}

@media (max-width: 380px) {
    header {
        margin-bottom: 0;
    }
    .nav {
        height: fit-content!important;
    }
    .nav-link {
        margin: 15px 0 15px 0 !important;
        font-size: 15px;
        padding: 8px!important;
    }
}


/* main */

.btnInicio {
    width: 125px;
    margin: 5px;
}

.modal {
    color: black;
}

.miniPresentacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1031px) {
    .btnInicio {
        width: 125px;
        margin: 5px;
    }
}

@media (max-width: 380px) {
    .img-fluid {
        display: none;
    }
    .imgDiv {
        display: none;
    }
    header {
        margin-bottom: 19%;
    }
}